Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: >
  clang-diagnostic-*,
  clang-analyzer-*
FormatStyle: file
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MemberSuffix: _
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.ConstantCase: UPPER_CASE
